<div class="card ">
<%if user_signed_in?%>
    <article class="card-body">
        <p class="fs-1" >Create Event</p>
        <div class="media-content">
            <%= render "events/form" %>
        </div>
    </article>
<% end %>
</div>