<div class="card is-one-quarter">
    <div class="card-body ">
        <p class="card-title">Profile</p>
        <div class="panel-block">
            <article class="media">
                <div class="media-left">
                    <figure class="image is64x64">
                    <%=gravatar_image_tag(current_user.email,size:32,alt:current_user.name)%>
                    </figure>
                </div>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong><%=current_user.name%></strong><br/>
                        <small><%=current_user.username%></small></p>
                    </div>
                </div>
            </article>
        </div>
        <div class="panel-block ">
            <div class="d-flex justify-content-around">
                <div class="level-item has-centered-text">
                    <div>
                        <p class="heading">Events</p>
                        <p class="title is-6">
                            <%=current_user.events.count%>
                        </p>
                    </div>
                </div>
                <div class="level-item has-centered-text">
                    <div>
                        <p class="heading">Follower</p>
                        <p class="title is-6">123</p>
                    </div>
                </div>
                    <div class="level-item has-centered-text">
                        <div>
                            <p class="heading">Following</p>
                            <p class="title is-6">456k</p>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>